@import "style.css";
@import "account-form.css";
@import "account-noties.css";


.account {
    --photo-wh: 200px;
    display: grid;
    gap: 10px;
    grid-template-columns: var(--photo-wh) 1fr min-content;
    grid-template-rows: min-content 1fr;
}
.account-img {
    grid-area: 1 / 1 / span 2;
    overflow: hidden;
    height: var(--photo-wh);
    width: var(--photo-wh);
}
.account-name {
    grid-area: 1 / 2;
}
.account-stasus {
    grid-area: 2 / 2;
}

#login-button {
    grid-area: 2 / 3;
    justify-self: end;
    align-self: end;
    position: relative;
}


.new-post form {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
}

.new-post .photo {
    padding: 0;
    border-radius: 20px;
    grid-area: 1 / 1 / span 2;
}

.new-post  input[type=file] {
    display: none;
}

.new-post .photo div {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-size: 100% 100%;
}
.new-post .photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    object-fit: cover;
}


.new-post textarea {
    grid-area: 1 / 2;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 0;
    margin: 0;
    border-width: 2px;
    border-color: var(--color-3);
    border-radius: 4px;
}
.new-post textarea:focus {
    box-shadow: 0 0 5px black;
}
.new-post textarea::placeholder {
    color: #808080;
    opacity: 0.2;
}

.new-post #post-button {
    grid-area: 2 / 2;
    justify-self: end;
    align-self: end;
    position: relative;
}

@media (max-width: 620px) {
    .account {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
    }
    .account-img {
        grid-area: 2 / 1;
    }
    .account-name {
        grid-area: 1 / 1;
    }
    .account-stasus {
        grid-area: 3 / 1;
    }
    #login-button {
        grid-area: 4 / 1;
        justify-self: center;
    }

    .new-post form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
    }
    .new-post .photo {
        grid-area: 1 / 1;
    }
    .new-post textarea {
        grid-area: 2 / 1;
    }
    .new-post #post-button {
        grid-area: 3 / 1;
        justify-self: center;
    }
}