@import "style.css";

.equipment-menu {
    --icon-wh: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.equipment-menu-img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.equipment-img {
    width: 50%;
    float: left;
}