@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=block');

* {
    --bg-color-1: #d5dad9;
    --bg-color-2: #c7d6d2;
    --color-1: #82b0a2;
    --color-2: #cdcd98;
    --color-3: #006616;
    --ac-color-1: #6ac8a9;
    --ac-color-2: #e8e87d;
    --ac-color-3: #009921;
    --tr-color-1: #88b4a640;
    --tr-color-2: #d7dba440;
    --tr-color-3: #00611540;
    --duration-1: 200ms;
    --duration-2: 500ms;
    --duration-3: 1000ms;
    --main-w: 1000px;
    --side-bar-wh: 100px;
    --shadow: 0 1px 10px #00000080;
    font-family: 'Marmelad', Georgia;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
    width: 100%;
    min-height: 100%;
    min-width: 330px;
    background-color: var(--bg-color-1);
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: none;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-2);
}

a {
    cursor: pointer;
    color:var(--color-3);
    text-decoration: none;
    transition: all var(--duration-1) ease-in-out;
}

a:hover {
    color: var(--ac-color-3);
}

.button {
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 7px;
    font-size: 1.5em;
    border-width: 0;
    border-radius: 14px;
    background-color: var(--bg-color-2);
    transition: all var(--duration-1) ease-in-out;
    color: var(--color-3);
    box-shadow: 0 0 5px black;
}
.button:hover {
    color: var(--ac-color-3);
    box-shadow: 0 0 15px black;
    transform: scale(102%);
}
.button:active {
    color: var(--ac-color-3);
    box-shadow: 0 0 5px black;
    transform: scale(100%);
}

.pressed {
    box-shadow: 0 0 5px black inset, 0 0 0 black;
}
.pressed:hover {
    box-shadow: 0 0 0 black inset, 0 0 5px black;
}
.pressed:active {
    box-shadow: 0 0 5px black inset, 0 0 0 black;
}



header, footer {
    position: relative;
    grid-column: span 3;
    z-index: 2;
    width: 100%;
    background-color: var(--color-1);
    border-radius: 20px;
    padding: 10px;
    margin: 0;
    box-shadow: var(--shadow);
}

header {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    gap: 10px;
}

.header-logo {
    height: 44px;
    margin-left: 20px;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

nav .header-menu-img {
    display: none;
}

.header-menu-img {
    display: block;
    height: 30px;
}

#menu-button {
    display: none;
}



.noties {
    display: flex;
    gap: 10px;
    position: absolute;
    z-index: 1;
    padding: 10px;
    margin: 0;
    border-radius: 20px;
    top: 10px;
    right: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--tr-color-2);
    backdrop-filter: blur(2px);
    box-shadow: 0 1px 10px #00000080;
    transform-origin: 100% 0;
    transition: all var(--duration-1) ease;
}
#noties-button ~ .noties {
    transform: scale(0);
    opacity: 0;
}
#noties-button.pressed ~ .noties {
    transform: scale(1) translate(0, 64px);
    opacity: 1;
}



.left-bar, .right-bar {
    z-index: 1;
    width: var(--side-bar-wh);
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--bg-color-2);
    box-shadow: var(--shadow);
}

.left-bar {
    justify-self: end;
}

.right-bar {
    justify-self: start;
}




main {
    position: relative;
    z-index: 0;
    flex: 1 0 auto;
    box-sizing: border-box;
    box-shadow: var(--shadow);
    width: 1000px;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: var(--bg-color-2);
}

section {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color-1);
    box-shadow: var(--shadow);
}





footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    gap: 10px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.footer-list > * {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-button {
    position: relative;
    overflow: hidden;
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(var(--color-1), var(--ac-color-2));
        transform-origin: top;
        transform: scaleY(0);
        transition: all var(--duration-1) ease-in-out;
    }

    &:hover::before {
        transform: scaleY(1);
    }
}

.footer-icon {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.leaves-container {
    position: absolute;
    z-index: 10;
}


#leaves-toggle {
    position: absolute;
    z-index: 11;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.leaf {
    position: absolute;
    pointer-events: none;
    --leaf-color: #5ca904;
    fill: var(--leaf-color);
    filter: drop-shadow(0 0 5px var(--leaf-color));
    transition: all 2000ms ease-in;
}

.leaf.hidden {
    fill: transparent;
    filter: drop-shadow(0 0 10px transparent);
}



@media (max-width: 1240px) {
    body {
        grid-template-rows: min-content 1fr var(--side-bar-wh) min-content;
        grid-template-columns: auto auto;
    }
    header, footer {
        grid-column: span 2;
    }
    .left-bar {
        justify-self: end;
    }
    .right-bar {
        width: 100%;
        height: var(--side-bar-wh);
        grid-column: span 2;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }
}





@media (max-width: 1130px) {
    body {
        grid-template-rows: min-content var(--side-bar-wh) 1fr var(--side-bar-wh) min-content;
        grid-template-columns: 1fr;
    }
    header, footer {
        grid-column: 1;
    }
    nav .header-menu-img {
        display: block;
    }
    nav .header-menu-desc {
        display: none;
    }
    .left-bar, .right-bar {
        width: 100%;
        height: var(--side-bar-wh);
        grid-column: 1;
    }
    main {
        justify-self: center;
    }
}




@media (max-width: 1020px) {
    main {
        width: 100%
    }
    footer {
        grid-template-columns: 1fr;
    }
}




@media (max-width: 620px) {
    #menu-button {
        display: block;
    }
    nav {
        display: flex;
        gap: 10px;
        position: absolute;
        z-index: 1;
        padding: 10px;
        margin: 0;
        border-radius: 20px;
        top: 10px;
        right: 10px;
        flex-direction: column;
        justify-content: center;
        background-color: var(--tr-color-2);
        backdrop-filter: blur(2px);
        box-shadow: 0 1px 10px #00000080;
        transform-origin: 100% 0;
        transition: all var(--duration-1) ease;
    }
    nav .header-menu-img {
        display: none;
    }
    nav .header-menu-desc {
        display: inline;
    }
    #menu-button ~ nav {
        transform: scale(0);
        opacity: 0;
    }
    #menu-button.pressed ~ nav {
        transform: scale(1) translate(0, 64px);
        opacity: 1;
    }
}